In [1]:
import pandas as pd
import numpy as np

In [2]:
url = 'https://raw.githubusercontent.com/jakhon77/Python-for-Statistics/master/NHANES_Demographics_2015-16.csv'
data = pd.read_csv(url)

In [3]:
data.shape

(9971, 47)

In [4]:
data.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
0,83732,9,2,1,62,0,3,3,1,0,...,5,1,3,134671.37040,135629.50740,1,125,10,10,4.39
1,83733,9,2,1,53,0,3,3,1,0,...,3,3,0,24328.56024,25282.42593,1,125,4,4,1.32
2,83734,9,2,1,78,0,3,3,2,0,...,3,1,3,12400.00852,12575.83882,1,131,5,5,1.51
3,83735,9,2,2,56,0,3,3,2,0,...,5,6,0,102717.99560,102078.63450,1,131,10,10,5.00
4,83736,9,2,2,42,0,4,4,2,0,...,4,3,0,17627.67498,18234.73622,2,126,7,7,1.23

In [18]:
data.DMDEDUC2 = data.DMDEDUC2.replace({0:np.nan})

In [19]:
data.DMDEDUC2.value_counts()

4.0    1692
5.0    1422
3.0    1236
1.0     688
2.0     676
9.0       5
Name: DMDEDUC2, dtype: int64

In [20]:
data.DMDEDUC2.value_counts().sum()

5719

In [21]:
pd.isnull(data.DMDEDUC2).sum()

4252

In [22]:
pd.Series.max(data.RIDAGEYR)

80

In [23]:
data['RIDAGEYR_new'] = pd.cut(data.RIDAGEYR, [18,30,40,50,60,70,80])
data['RIDAGEYR_new']

0       (60.0, 70.0]
1       (50.0, 60.0]
2       (70.0, 80.0]
3       (50.0, 60.0]
4       (40.0, 50.0]
            ...
9966             NaN
9967             NaN
9968    (30.0, 40.0]
9969             NaN
9970    (18.0, 30.0]
Name: RIDAGEYR_new, Length: 9971, dtype: category
Categories (6, interval[int64]): [(18, 30] < (30, 40] < (40, 50] < (50, 60] < (60, 70] < (70, 80]]

In [9]:
cc = data[['RIDAGEYR', 'SDMVSTRA']].corr()
cc

          RIDAGEYR  SDMVSTRA
RIDAGEYR  1.000000  0.010209
SDMVSTRA  0.010209  1.000000

In [14]:
cc.RIDAGEYR.SDMVSTRA**2

0.00010422257331431465

In [19]:
c = pd.crosstab(data.RIAGENDR, data.DMDHREDU).apply(lambda x: x/x.sum(), axis = 1)
c['total'] = c.sum(axis=1)
c

DMDHREDU,0,1,2,3,4,5,9,total
RIAGENDR,,,,,,,,
1,0.034137,0.105478,0.122854,0.211161,0.288839,0.234873,0.002657,1.0
2,0.045088,0.112424,0.117937,0.193345,0.294349,0.232723,0.004135,1.0

It is conventional to work with odds on the logarithmic scale. To understand the motivation for doing this, first note that the neutral point for a probability is 0.5, which is equivalent to an odds of 1 and a log odds of 0. Populations where men smoke more than women will have odds between 1 and infinity, with the exact value depending on the magnitude of the relationship between the male and female smoking rates. Populations where women smoke more than men would have odds falling between 0 and 1.

We see that the scale of the odds statistic is not symmetric. It is usually arbitrary in which order we compare two groups -- we could compare men to women, or compare women to men. An odds of 2 (men have twice the odds of smoking as women) is equivalent in strength to an odds of 1/2 (women have twice the odds of smoking as men). Taking the log of the odds centers the scale at zero, and symmetrizes the interpretation of the scale.

To interpret the log odds when comparing two groups, it is important to remember the following facts:

A probability of 1/2, an odds of 1, and a log odds of 0 are all equivalent.

A positive log odds indicates that the first group being compared has greater odds (and greater probability) than the second group.

A negative log odds indicates that the second group being compared has greater odds (and greater probability) than the first group.

The scale of the log odds statistic is symmetric in the sense that a log odds of, say, 2, is equivalent in strength to a log odds of -2 (but with the groups swapped in terms of which has the greater probability).

If you know that the log odds when comparing two groups is a given value, say 2, and you want to report the odds, you simply exponentiate the log odds to get the odds, e.g. exp(2) is around 7.4. Note however that you cannot recover the individual probabilities (or their ratio) from an odds ratio.`

Below we show the log odds for smoking history status of females and males in the NHANES data. The fact that the log odds for females is negative reflects that fact that substantially less than 50% of females have a history of smoking. The log odds for males is closer to 0, consistent with around half of males having a history of smoking.