In [18]:
import pandas as pd
import numpy as np

In [3]:
url = 'https://raw.githubusercontent.com/jakhon77/Python-for-Statistics/master/NHANES_Demographics_2015-16.csv'
data = pd.read_csv(url)

In [6]:
data.shape

(10000, 47)

In [8]:
data.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
0,83732.0,9.0,2.0,1,62,0,3,3,1,0,...,5,1,3,134671.370419,135629.507405,1,125,10,10,4.39
1,83733.0,9.0,2.0,1,53,0,3,3,1,0,...,3,3,0,24328.560239,25282.425927,1,125,4,4,1.32
2,83734.0,9.0,2.0,1,78,0,3,3,2,0,...,3,1,3,12400.008522,12575.838818,1,131,5,5,1.51
3,83735.0,9.0,2.0,2,56,0,3,3,2,0,...,5,6,0,102717.995647,102078.634508,1,131,10,10,5.00
4,83736.0,9.0,2.0,2,42,0,4,4,2,0,...,4,3,0,17627.674984,18234.736219,2,126,7,7,1.23

In [11]:
data.DMDEDUC2.value_counts()

0    4252
4    1692
5    1451
3    1236
1     688
2     676
9       5
Name: DMDEDUC2, dtype: int64

In [14]:
data.DMDEDUC2.value_counts().sum()

10000

In [16]:
pd.isnull(data.DMDEDUC2).sum()

0

In [20]:
data.DMDEDUC2.replace({0:np.nan})

0       5.0
1       3.0
2       3.0
3       5.0
4       4.0
       ...
9995    5.0
9996    5.0
9997    5.0
9998    5.0
9999    5.0
Name: DMDEDUC2, Length: 10000, dtype: float64

In [24]:
pd.isnull(data.DMDEDUC2).sum()

0