In [14]:
import pandas as pd
import numpy as np

In [15]:
url = 'https://raw.githubusercontent.com/jakhon77/Python-for-Statistics/master/NHANES_Demographics_2015-16.csv'
data = pd.read_csv(url)

In [16]:
data.shape

(9971, 47)

In [17]:
data.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
0,83732,9,2,1,62,0,3,3,1,0,...,5,1,3,134671.37040,135629.50740,1,125,10,10,4.39
1,83733,9,2,1,53,0,3,3,1,0,...,3,3,0,24328.56024,25282.42593,1,125,4,4,1.32
2,83734,9,2,1,78,0,3,3,2,0,...,3,1,3,12400.00852,12575.83882,1,131,5,5,1.51
3,83735,9,2,2,56,0,3,3,2,0,...,5,6,0,102717.99560,102078.63450,1,131,10,10,5.00
4,83736,9,2,2,42,0,4,4,2,0,...,4,3,0,17627.67498,18234.73622,2,126,7,7,1.23

In [18]:
data.DMDEDUC2 = data.DMDEDUC2.replace({0:np.nan})

In [19]:
data.DMDEDUC2.value_counts()

4.0    1692
5.0    1422
3.0    1236
1.0     688
2.0     676
9.0       5
Name: DMDEDUC2, dtype: int64

In [20]:
data.DMDEDUC2.value_counts().sum()

5719

In [21]:
pd.isnull(data.DMDEDUC2).sum()

4252

In [22]:
pd.Series.max(data.RIDAGEYR)

80

In [23]:
data['RIDAGEYR_new'] = pd.cut(data.RIDAGEYR, [18,30,40,50,60,70,80])
data['RIDAGEYR_new']

0       (60.0, 70.0]
1       (50.0, 60.0]
2       (70.0, 80.0]
3       (50.0, 60.0]
4       (40.0, 50.0]
            ...
9966             NaN
9967             NaN
9968    (30.0, 40.0]
9969             NaN
9970    (18.0, 30.0]
Name: RIDAGEYR_new, Length: 9971, dtype: category
Categories (6, interval[int64]): [(18, 30] < (30, 40] < (40, 50] < (50, 60] < (60, 70] < (70, 80]]