In [25]:
import pandas as pd
import numpy as np

In [26]:
url = 'https://raw.githubusercontent.com/jakhon77/Python-for-Statistics/master/NHANES_Demographics_2015-16.csv'
data = pd.read_csv(url)

In [27]:
data.shape

(9971, 47)

In [28]:
data.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
0,83732,9,2,1,62,0,3,3,1,0,...,5,1,3,134671.37040,135629.50740,1,125,10,10,4.39
1,83733,9,2,1,53,0,3,3,1,0,...,3,3,0,24328.56024,25282.42593,1,125,4,4,1.32
2,83734,9,2,1,78,0,3,3,2,0,...,3,1,3,12400.00852,12575.83882,1,131,5,5,1.51
3,83735,9,2,2,56,0,3,3,2,0,...,5,6,0,102717.99560,102078.63450,1,131,10,10,5.00
4,83736,9,2,2,42,0,4,4,2,0,...,4,3,0,17627.67498,18234.73622,2,126,7,7,1.23

In [35]:
data.DMDEDUC2 = data.DMDEDUC2.replace({0:np.nan})

In [36]:
data.DMDEDUC2.value_counts()

4.0    1692
5.0    1422
3.0    1236
1.0     688
2.0     676
9.0       5
Name: DMDEDUC2, dtype: int64

In [41]:
data.DMDEDUC2.value_counts().sum()

5719

In [40]:
pd.isnull(data.DMDEDUC2).sum()

4252